Xft.dpi: 96
Xft.rgba: rgb
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*faceName: DejaVu Sans Mono
XTerm*faceSize: 14
! XTerm*background: black
! XTerm*foreground: #666666

URxvt*font: xft:DejaVu Sans Mono:pixelsize=20:antialias=true:hinting=true
URxvt*scrollBar: false
! URxvt*background: black
! URxvt*foreground: #666666

! Solarized.
#include "/home/nikita/solarized/xresources/Xresources.dark"
